*, ::before, ::after {
  transition: all ease-in-out 200ms;
}
 body{
  margin: 0;
  background: #5f5f5f;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}

h1{
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -1.6px;
  line-height: 3.6rem;
  text-align: justify;
  padding: 1rem;
}
p{ text-align: justify;}

.container{
  display: grid;
  width: 90%;
  grid-template-columns: 33% 66%;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}
@media screen and (max-width: 900px) {
 .container {
  display: flex;
  flex-direction: column;
 }
}
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first{
  background-image: url(./content/dune01.jpg); background-size: cover;
}

.third{
  background-image: url(./content/mountain01.png); background-size: cover;
  color: white;
}

.fourth{
  background-image: url(./content/mountain02.jpg); background-size: cover;
  color: white;
}

.five{
  background-image: url(./content/mountain03.jpg); background-size: cover;
  color: black;
}




/* ################ buttons start here ################ */

.btn{
  display: inline-block;
  text-decoration: none;
  padding: 1em 2em;
}


/* 
.btn-cool{
  border: 2px solid white;
  color: white;
}

.btn-cool:hover {
  background: white;
  color: black;
} */

.btn-awesome{
  color: white;
  background: #167084;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, .75);
}

.btn-awesome:hover{
  color: black;
  transform: translateY(-10px);
  box-shadow: 0px 18px 3px -10px rgba(0, 0, 0, .75);
}

.btn-login{
  color: #a2d5f4;
  border-radius: 10px;
  border: 2px solid #a2d5f4;
  background: transparent;
  /* box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, .75); */
}

.btn-login:hover{
  /* color: white; */
  background: #a2d5f4;
  color: black;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% header starts here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.nav-list{
  display: flex;
  background-color: #005F6A;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/*          OLD NAVIGATION BAR STARTS HERE          */
/* header::after{
  content: '';
  display: table;
  clear: both;
} */
/* .logo{ */
  /* float: left; */
  /* padding: 10px 0; */
/* } */
/* .nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}
nav a {
  color: #a2d5f4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover{
  color: black;
  background: #a2d5f4;
}
nav a::before{
  content: '';
  display: block;
  height: 4px;
  background-color: #a2d5f4;
  top: 0;
  position: absolute;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
} */
/* nav-bar{
  display: flex;
  align-items: flex-end;
} */

.active {
  background-color: #04AA6D;
}






/* style for tables */

table {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  width: 50%;
}

#memory {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#memory td{
  border: 1px solid, #ddd;
  padding: 20px;
}

#memory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0c87a3;
  color: #000000;
  position: sticky;
  top: 0;
} 

#memory tr:nth-child(even){background-color: #f2f2f2;}

#memory tr:hover {background-color: #5cb4eb;}

#memory-table {
  max-height: 500px;
  overflow: auto;
}







/* %%%%%%%%%%%%%%%%%%        Modal Login Button        %%%%%%%%%%%%%%%%%% */

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover, .close:focus {
  color: white;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} 

.footer{
  display: flex;
  flex-direction: column;
 align-items: center;
}
#lastContainerIndex{
  padding-bottom: 40px;
}
#donationButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
}